.commentImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.currentUserImg {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.write {
   display: flex;
   align-items: center;
   justify-content: space-between; 
   gap: 20px;
   margin: 20px 0px;
}

.commentInput {
    flex: 5;
    padding: 10px;
    border: 1px solid aqua;
    background-color: transparent;
    color: teal;
    border-radius: 5px;
}

.commentBtn {
    border: none;
    background-color: #5271ff;
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.comment {
    display: flex;
    margin: 30px 0px;
    justify-content: space-between;
    gap: 20px;
}

.info {
    flex: 5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3px;
    align-items: flex-start;
}

.commentUsername {
    font-weight: 600;
}

.commentDesc {
    color: teal;
}

.date {
    flex:1;
    align-self: center;
    color: brown;
    font-size: 12px;
}

