.main {
  width: 100%;
  height: 100%;
  /* position: fixed; */
}

.container {
  width: 95%;
  margin: 6rem auto;
  display: flex;
  flex-direction: row;
}

/* .homeContainer {
  height: auto;
  margin: 4rem;
  display: flex;
  width: 95%;
} */
