.main {
  width: 95%;
  display: flex;
}

.container {
  width: 95%;
  margin: 4.5rem 2rem 0 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.side {
  flex: 2.5;
  margin-right: 50px;
}

.feed {
  flex: 7;
}

.right {
  border: 1px solid #b0b0b0;
  margin-left: 20px;
  flex: 2;
  padding: 10px;
  border-radius: 4px;
  height: 600px;
}
