.message {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.messageTop {
    display: flex;
}

.messageImg {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.messageText {
    padding: 10px;
    border-radius: 20px;
    background-color: #5dceff;
    color: black;
    max-width:600px;
}

.messageBottom {
    font-size: 15px;
    margin-top: 10px;
}

/* own message design */
.message.own {
    display: flex;
    align-items: flex-end;
}
.message.own.messageTop{
    flex-direction: reverse;
}

.message.own .messageText {
    background-color: rgb(255, 255, 255) ;
    color:rgb(0, 0, 0);
}