.settings {
  display: flex;
}

.settingsWrapper {
  flex: 9;
  padding: 20px;
}

.settingsTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settingsTitleUpdate {
  font-size: 30px;
  margin-bottom: 20px;
  color: #573eff;
}

.PPtext {
  font-size: 20px;
  margin-bottom: 20px;
  color: #573eff;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.settingsTitleDelete {
  color: red;
  font-size: 12px;
  cursor: pointer;
}

.settingsForm {
  display: flex;
  flex-direction: column;
  /* max-width: 500px; */
}

.settingsPP {
  /* display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px; */
  height: 160px;
  position: relative;
}

.settingsCoverImg {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.settingsProfileImg {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0px;
  border: 3px solid white;
}

.cameraIconProfile {
  display: block;
  padding: 9px;
  position: absolute;
  background-color: rgb(168, 200, 241);
  border-radius: 50%;
  margin-left: 51.5%;
  top: 70%;
}

.cameraIconCover {
  display: block;
  padding: 9px;
  position: absolute;
  background-color: rgb(168, 200, 241);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 94%;
  top: 10%;
}

.settingsPPButton:focus {
  outline-style: none;
}

.settingsForm > label {
  font-size: 26px;
  margin: 20px 0 10px 0;
}
.settingsForm {
  margin-top: 20px;
  max-width: 50%;
}

.settingsSubmitButton {
  display: block;
  padding: 8px;
  border: none;
  position: absolute;
  background-color: rgb(168, 200, 241);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 54.5%;
  top: 70%;
}

.settingsSubmitButtonCover {
  display: block;
  padding: 8px;
  border: none;
  position: absolute;
  background-color: rgb(168, 200, 241);
  border-radius: 50%;
  cursor: pointer;
  margin-left: 97%;
  top: 10%;
}
.settingsSubmitButtonInfo {
  max-width: 30%;
  padding: 20px;
  border: none;
  font-size: 25px;
  background-color: rgb(168, 200, 241);
  border-radius: 10px;
  cursor: pointer;
}
.settingsSubmitButtonInfo:hover {
  background-color: #5bbde7;
}
.settingsSubmitButton:hover {
  background-color: #5bbde7;
}
.cameraIconProfile:hover {
  background-color: #5bbde7;
}

.cameraIconCover:hover {
  background-color: #5bbde7;
}
.settingsSubmitButtonCover:hover {
  background-color: #5bbde7;
}

.error {
  background-color: var(--dangerRed);
  padding: 0.6rem 1.2rem;
  margin: 15px 0;
  border-radius: 8px;
  display: flex;
  align-items: center;
}

.infoForm {
  width: 200px;
}
